.banner {
  background-color: #212529;
  text-align: center;
  padding: 5% 0%;
}

.banner-title{
  color: #fff;
  font-size: 60px;
}

.banner-text {
  color: #7F838E;
  font-size: 20px;
}

.products{
  padding: 5% 0%;
  color: black;
}

/* ProductCard */

.card {
  text-align: center;
  margin: 10px;
}

.productImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.checked {
  color: orange;
}

.discount {
  color: #7F838E;
}

.card-badge{
  position: absolute;
  top:6px;
  right:6px;
  background-color: #000;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

/* Footer */

.footer {
  background-color: #212529;
  text-align: center;
  padding: 2% 0%;
  color: #fff;
}